# Ignore VS Code settings folder
.vscode/

# Ignore Git attributes file
.gitattributes

__pycache__/
*.log
*.tm

# folders to ignore
docs
JAVA-Solutions-TCS-IPA-Questions with Answers
JAVA-SOLUTION-IPA-TCS-2024

# Ignore all PDFs
.pdf/*
# Keep these specific ones
!important_notes.pdf
!docs/project_summary.pdf
